@import 'tailwindcss';

@font-face {
  font-family: "Inter:Regular";
  font-style: normal;
  font-weight: 400;
  src: url("https://static.figma.com/font/Inter_1") format("woff2");
}

@font-face {
  font-family: "Exo 2:SemiBold";
  font-style: normal;
  font-weight: 600;
  src: url("https://static.figma.com/font/Exo2_wght__2") format("woff2");
}

@font-face {
  font-family: "Inter:Semi Bold";
  font-style: normal;
  font-weight: 600;
  src: url("https://static.figma.com/font/Inter_1") format("woff2");
}

@font-face {
  font-family: "Exo 2:Medium";
  font-style: normal;
  font-weight: 500;
  src: url("https://static.figma.com/font/Exo2_wght__2") format("woff2");
}

html,
body,
#root {
  height: 100%;
}
